<%- include('./layouts/layout') -%>
<div class="progress mb-3" style="height: 25px;">

</div>

<div class="container mt-4">
  <h2 class="text-center">Add New Asset</h2>


<% if(msg.length>0) {%>
  <p class="alert alert-warning mx-3 text-center alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     <%= msg %>
  </p>
<% } %>


  <form action="/assets/add" method="POST" id="aform" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Asset Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select name="category" id="category" class="form-control" oninput="detectInput()">
          <option value="">select category</option>
          <option value="site">Site</option>
          <option value="other">Others</option>
          <option value="non">no category</option>
        </select>
    </div>

    <div class="mb-3" >
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3"  required></textarea>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" id="location" name="location" required>
    </div>

    <!-- arcGIS map for pointing cordinates -->
     <a id="cord" class="btn btn-outline-primary">add cordinates</a>
      <div id="viewDiv" class=""></div>
      <div id="info">
        click to add cordinate
        <span id="longitude">32.87292</span>
        <span>,</span>
        <span id="latitude">2.22657</span>
      </div>

    <div class="mb-3 d-inline">
      <label for="lat" class="form-label">Latitude</label>
      <input type="number" class="form-control" id="lat" name="lat" step="any">

      <label for="long" class="form-label">Longitude</label>
      <input type="number" class="form-control" id="long" name="long" step="any">
    </div>

    <div class="mb-3">
      <label for="file" class="form-label">3D file</label>
      <input type="file" class="form-control" id="file" name="3d_file" accept=".glb, .gltf">
    </div>


    <button type="submit" class="btn btn-primary" id="btnSubmit">Add Asset</button>
  </form>
</div>

<!-- Load the ArcGIS Maps SDK for JavaScript from CDN -->
  <!-- arcGIS assets -->
 <link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.26/"></script>

<script>
  $("#cord").toggle(
    function(){
      $(this).show();
    },
    function(){
      $(this).hide();
    },
  );

  $('#description').summernote({
    placeholder: 'Type any relevant information here, drag and drop images and use the video icon to add video urls',
    tabsize: 3,
    height: 200,
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'underline', 'clear']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['fullscreen', 'codeview', 'help']]
    ]
  });
//arcGIS cordinate picker
require(["esri/Map", "esri/views/MapView"], (Map, MapView) => {
  const map = new Map({
    basemap: "topo-vector"
  });
  const view = new MapView({
    container: "viewDiv",
    map: map,
    center: [32.87292, 2.22657],
    zoom: 6
  });
  view.when(() => {
    view.ui.add("info", "top-right");
    view.on("click", (event) => {
      const longitude = event.mapPoint.longitude.toFixed(5);
      const latitude = event.mapPoint.latitude.toFixed(5);
      document.getElementById("longitude").innerText = longitude;
      document.getElementById("latitude").innerText = latitude;

      document.getElementById("long").value = longitude;
      document.getElementById("lat").value = latitude;
    });
  });
});



  //ajax form submit
  // $('#btnSubmit').click((e)=>{
  //   e.preventDefault();

  //   var form = $('#aform');

  //   $.ajax({
  //     url:"/assets/add",
  //     data: $(form).serialize(),
  //     method: "POST"
      
  //   }).done((response)=>{
  //     var data = JSON.parse(response);
  //   })
  // })
</script>