<%- include('./layouts/layout') -%>

<div class="container align-center">
    <h2>Welcome to <br> Cultural Sites Management System</h2>
    <p>Manage and document Cultural sites efficiently.</p>
    <div class="card p-1">
        <a href="/auth/login" class="btn btn-primary m-2 ">Login</a>
        <a href="/auth/register" class="btn btn-secondary m-2">Sign Up</a> 
    </div>
</div>
